#main-content {
    padding-top: 60px;
}

#main-content .heading {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

#main-content .col-md-8 .heading:after {
    font-weight: 600;
    display: block;
    border-bottom: 2px solid #ffbd33;
    content: "";
    width: 44px;
    margin: 10px auto 40px 0;
}

#main-content h1 {
    font-weight: 800px;
    font-size: 28px;
}

#main-content h3 {
    margin-top: 30px;
    font-size: 18px;
}

#main-content .course-intro {
    margin-top: 20px;
}

/* Panels */

#main-content .panel-heading {
    background-color: #9261aa;
    color: white;
    font-size: 13px;
    padding: 15px 20px;
    text-transform: uppercase;
}

#main-content .panel-body {
    background-color: #F4F4F4;
    padding: 20px 20px;
}

#main-content .panel-body a {
    display: inline-block;
    color: black;
    font-size: 13px;
    margin: 15px 0;
}

#main-content .panel-body .collapse {
    padding: 20px 0;
    color: #868686;
}

/* Instructor slider */

#instructor-slider .owl-item .item {
    padding: 15px 20px;
}

#main-content .avatar {
    width: 30%;
    border-radius: 50%;
}

#instructor-slider .instructor-info,
#student-review-slider .student-info {
    margin-left: 0;
    padding-left: 0;
    color: #868686;
}

#instructor-slider .instructor-info p,
#student-review-slider .student-info {
    margin: 0;
    padding: 0;
}

#instructor-slider .instructor-info span {
    color: #ffbd33;
    font-size: 24px;
    text-transform: uppercase;
}

/* Student review slider */

#student-review-slider {
    text-align: center;
}

#student-review-slider .owl-item .item img {
    margin: 0 auto;
}

#student-review-slider .student-info span {
    display: block;
    color: #ffbd33;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

/* Sidebar */

#sidebar table {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #805196;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

#sidebar td {
    width: 50%;
}

#sidebar button {
    margin-top: 0;
    background-color: #ffbd33;
}

#sidebar button:hover {
    background-color: #ffbd33;
    background-color: #9261aa;
}

#sidebar h3 {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #9261aa;
    text-transform: uppercase;
    padding: 16px 30px;
}

#sidebar .other-courses a {
    margin: 15px 20px;
    display: block;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
}