/* Universal style */

body {
    background-color: #eaeaea;
}

.container-fluid {
    padding: 0 30px;
}

#main-content {
    background-color: #fff;
    padding: 20px;
}

/* Post content */

#post-content {
    padding: 30px;
}

#post-content .post-title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #666;
    line-height: 2.5em;
}

#post-content .post-info {
    margin-top: 10px;
}

#post-content .post-info span,
#post-content .post-info ul li {
    color: #aaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#post-content .post-text .post-img {
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-text .post-img img {
    margin: 0 auto;
    display: block;
    width: 100%;
}
.post-text .post-img .img-caption {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
}

#post-content .share-container {
    background-color: black;
}

/* Also like posts */
#post-content .also-like-posts {
    padding: 20px 0;
}

.also-like-posts h4 {
    font-weight: bold;
}

.also-like-posts .card {
    border: 0;
}

.also-like-posts .card-body {
    margin: 0;
    padding: 0;
    padding: 10px;
}

.also-like-posts .post-thumbnail img {
    margin: auto;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
    max-height: 140px;
}

.also-like-posts .col-sm-4 {
    margin: 0;
    padding: 0;
}

.also-like-posts .card-title h5 {
    padding: 10px 0;
    color: #444;
    font-size: 18px;
}

.also-like-posts .card-title h5:hover {
    color: #3b8dbd;
}

.also-like-posts .card-text {
    color: #aaa;
}

.also-like-posts p {
    margin-top: 5px;
    color: #aaa;
}

#post-content .author-bio {
    border: 2px solid #eee;
    position: relative;
    color: #aaa;
    padding: 20px;
    font-size: 14px;
}

.author-bio:before {
    border-top: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #eee;
    top: -8px;
    left: 13px;
}

.author-bio:after, .author-bio:before {
    content: '';
    display: inline-block;
    position: absolute;
}

.author-bio .bio-avatar {
    border: 0;
    max-width: 64px;
    height: auto;
}

.bio-avatar img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.author-bio .bio-text-wrap {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 80px;
}

.author-bio .bio-name {
    border: 0;
    color: #444;
    font-weight: 600;
    margin-bottom: 4px;
}

.author-bio .bio-desc {
    border: 0;
    color: #888;
    font-size: .9375em;
    line-height: 1.5em;
}

/* Sidebar */

#sidebar {
    margin-top: 30px;
    background-color: #f0f0f0;
}

#sidebar h5 {
    text-transform: uppercase;
    padding: 16px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin: 0;
}

#sidebar .post {
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
}

#sidebar .post-thumbnail-square {
    height: 80px;
    width: 80px;
    max-width: 30%;
}

#sidebar .post-thumbnail-square img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#sidebar .post-title {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 65%;
    width: auto;
}

.post-title a {
    padding-top: 10px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar>ul li a {
    display: block;
    padding-left: 24px;
    color: #aaa;
    font-weight: bold;
}

#sidebar .follow-social {
    background-color: #3b8dbd;
    width: 100%;
    width: auto;
    margin: 0 -15px;
}

.follow-social span {
    color: rgba(255,255,255,.8);
    margin: 16px;
    margin-left: 22px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.follow-social ul {
    margin: auto 0;
    margin-right: auto;
    margin-right: 20px;
    float: right;
    margin-top: 16px;
}

.follow-social ul li a {
    font-size: 28px;
    color: rgba(255,255,255,.8);
}

#sidebar .side-heading {
    padding: 14px;
    padding-left: 20px;
    background-color: #3b8dbd;
    width: 100%;
    width: auto;
    margin: 12 -15px;
    color: rgba(255,255,255,.8);
    
}