/* Universal style */
body {
    background-color: #eaeaea;
}

.container-fluid {
    padding: 0 30px;
}

#main-content {
    background-color: #fff;
    padding: 20px;
}

#main-content .heading {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #666;
    border-bottom: 1px solid #eee;
}

#main-content .post-list-group {
    margin-top: 10px;
}

#overview .post-row {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

#overview .card {
    border: 0;
}

#overview .card-body {
    padding: 0;
}

#overview .post-thumbnail img {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 245px;
}

#overview .category-date {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
}

#overview .category-date a {
    color: #3b8dbd;
    text-transform: uppercase;
    font-size: 14px;
}

#overview .category-date p {
    color: rgb(187, 187, 187);
}

#overview .card-title h3 {
    color: #444;
    font-size: 22px;
}

#overview .card-title h3:hover {
    color: #3b8dbd;
}

#overview .card-text {
    color: #aaa;
}

#overview p {
    margin-top: 5px;
    color: #aaa;
}

#sidebar {
    margin-top: 30px;
    background-color: #f0f0f0;
}

#sidebar h5 {
    text-transform: uppercase;
    padding: 16px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin: 0;
}

#sidebar .post {
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
}

#sidebar .post-thumbnail-square {
    height: 80px;
    width: 80px;
    max-width: 30%;
}

#sidebar .post-thumbnail-square img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#sidebar .post-title {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 65%;
    width: auto;
}

#sidebar .post-title a {
    padding-top: 10px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar>ul li a {
    display: block;
    padding-left: 24px;
    color: #aaa;
    font-weight: bold;
}

#sidebar .follow-social {
    background-color: #3b8dbd;
    width: 100%;
    width: auto;
    margin: 0 -15px;
}

.follow-social span {
    color: rgba(255,255,255,.8);
    margin: 16px;
    margin-left: 22px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.follow-social ul {
    margin: auto 0;
    margin-right: auto;
    margin-right: 20px;
    float: right;
    margin-top: 16px;
}

.follow-social ul li a {
    font-size: 28px;
    color: rgba(255,255,255,.8);
}

#sidebar .side-heading {
    padding: 14px;
    padding-left: 20px;
    background-color: #3b8dbd;
    width: 100%;
    width: auto;
    margin: 12 -15px;
    color: rgba(255,255,255,.8);
}