/* Universtal style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
    color: #86668f !important;
}

/* Counter css */

.counter {
    text-align: center;
}

.counter .counter-icon {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
}

.counter .counter-icon i {
    display: block;
    font-size: 32px;
    line-height: 80px;
    color: #FFFFFF;
}

.counter .counter-icon img {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

.counter span {
    display: inline-block;
}

.counter:hover .counter-icon {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent !important;
}

.counter:hover .counter-icon i {
    color: inherit !important;
}

.counter span {
    color: #000;
    font-size: 42px;
    font-weight: 600;
}

.counter p {
    font-size: 16px;
    color: #868686;
    letter-spacing: 0.05em;
}

/* Counter end */

/* Navbar */

#wrapper-navbar {
    z-index: 10;
    max-height: 20%
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

#wrapper-navbar nav {
    background-color: #f8f9fa!important
}

.custom-logo-link {
    width: 20%
}

#main-menu a {
    color: #000;
    font-family: Oswald,Roboto;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .01em;
    font-style: normal;
    position: relative
}

#main-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #ffbd35;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

#main-menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

@media screen and (min-width: 768px) {
    #main-menu>li {
        margin-left:30px
    }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

/* Top bar */

#top-bar {
    margin: auto 0;
    padding: 0;
    background-color: #ffbd33;
}

#top-bar .row {
    padding: 0;
    margin: 0;
}

#top-bar .article-link {
    text-align: left;
    margin: 0;
    padding: 0;
    display: none;
    float: right;
    margin-top: 10px;
    margin-bottom: 3px;
    max-width: 98%;
    width: 100%;
    padding-left: 16px;
}

#top-bar .col-md-8 i {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 16px;
    max-width: 1%;
    margin-top: 10px;
    color: white;
    text-align: right;
}

#top-bar a {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

#top-bar h5 {
    display: inline;
    font-size: 1.1rem;
}

#top-bar ul {
    margin: 0;
    padding: 6px 0;
    width: 90%;
}

#top-bar ul li {
    color: #f8f8f8;
    font-size: 18px;
    margin-left: 24px;
}

#top-bar ul i {
    font-size: 14px;
}

/* Main slide */

.carousel .carousel-item img {
    height: 44%;
    width: 100%;
}

@media (min-width:800px) {
    .carousel .carousel-item img {
        height: 82%;
        min-height: 40%;
        width: 100%;
    }
}

.section .heading {
    margin: auto;
    text-transform: uppercase;
}

.section .heading:after {
    content: '';
    display: block;
    border-bottom: 2px solid #ffbd33;
    width: 44px;
    margin: 10px auto 60px auto;
}

.section {
    margin-top: 100px;
}

/* Introduce */

.intro-part {
    color: #fff;
}

.intro-part:nth-child(1) {
    background-color: #febc44;
}

.intro-part:nth-child(2) {
    background-color: #ed8d37;
}

.intro-part:nth-child(3) {
    background-color: #be2172;
}

.intro-part:nth-child(4) {
    background-color: #971a5c;
}

.intro-part i {
    margin-top: 30px;
    color: #fff;
    font-size: 60px;
}

/* Courses */

#courses .course-logo img {
    width: 100%;
    height: 200px;
}

#courses .course-logo {
    position: relative;
    text-align: center;
}

.course-logo .img-text-hot {
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    background-color: #FF4D4D;
    position: absolute;
    top: 16px;
    right: 0px;
    padding: 0 5px;
    z-index: 3;
}

.course-logo .img-text-new {
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ffbd33;
    position: absolute;
    top: 16px;
    right: 0px;
    padding: 0 5px;
    z-index: 3;
}

.course-title a {
    display: block;
    margin: 30px 0;
    color: #000;
    font-size: 18px;
}

.course-title a:hover {
    color: #86668f;
}

.course-content {
    color: #a6a6a6;
    min-height: 180px;
}

.course-footer {
    margin-bottom: 10px;
}

.course-footer:after {
    content: "";
    clear: both;
    display: table;
}

/* Reasons */

#reasons img {
    height: auto;
    max-width: 100%;
}

#reasons ul {
    padding: 0;
    list-style-type: none;
}

/* Reviews */

#reviews {
    background-image: url(../uploads/2016/01/instructor_single.jpg?id=534) !important;
    position: relative;
    height: 500px;
}

@media screen and (max-width: 768px) {
    #reviews {
        height: 550px;
    }
}

#reviews .overlay {
    background-color: rgba(22, 34, 64, 0.94);
    position: absolute;
    padding: 60px 30px 60px 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.99;
    z-index: 2;
}

#reviews .review-content {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

#reviews .review-client {
    margin-top: 40px;
    text-transform: uppercase;
    color: #ffbd33;
    font-size: 20px;
    text-align: center;
}

#reviews .review-client span {
    color: white;
    font-size: 16px;
    display: block;
}

#reviews .avatar-row {
    margin-top: 70px;
    margin-bottom: 100px;
}

#reviews .client-avatar {
    border-radius: 50%;
    opacity: 0.3;
    background-color: transparent;
}

#reviews .client-avatar {
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
}

#reviews .highlight {
    opacity: 1;
}

/* News */

#news .news-logo img {
    width: 100%;
    height: 240px;
}

#news .news-logo {
    position: relative;
    text-align: center;
}

.news-logo .img-text-time {
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ffbd33;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0 5px;
}

#news h3 {
    margin-top: 30px;
    color: #000;
}

#news h3:hover {
    color: #86668f;
}

#news p {
    color: #a6a6a6;
}

/* Statistics */

#statistics {
    padding: 60px;
    height: auto;
    margin-top: 40px;
    background-color: #f8f8f8;
}

.counter,
.counter-icon {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    margin-left: auto;
    margin-right: auto;
}

.counter:hover .counter-icon {
    -moz-box-shadow: inset 0 0 8px #30a8cc;
    -webkit-box-shadow: inset 0 0 8px #30a8cc;
    box-shadow: inset 0 0 8px #30a8cc;
}

/* Footer */

footer {
    margin-bottom: 0;
    padding: 50px 0 0 0;
}

.footer-logo {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.footer-logo img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.sub-description {
    font-size: 13px;
    color: #8f8f8f;
    padding-top: 28px;
    line-height: 2em;
    margin: auto;
    max-width: 570px;
}

.social-bar {
    margin-top: 30px;
}

.social-bar ul li a {
    outline: none;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    width: 36px;
    height: 36px;
    color: #fff;
    background-color: #444;
    display: block;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.social-bar ul li a i {
    margin-top: 10px;
    text-align: center;
}

.social-bar ul li a:hover {
    color: #fff;
}

#bottom-bar .row {
    padding-top: 20px;
    border-top: 1px #8f8f8f solid;
    font-size: 14px;
    margin-top: 40px;
    color: #8f8f8f;
}

#bottom-bar a {
    text-transform: uppercase;
    color: #8f8f8f;
}

#bottom-bar p {
    text-align: center;
}

/* Partners */

#partners {
    padding: 60px;
}

/* partner slide */

#partner-carousel .owl-item .item {
    position: relative;
    height: 140px;
}

#partner-carousel img {
    display: block;
    opacity: 0.6;
    margin: auto;
    max-width: 70%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

#partner-carousel img:hover {
    opacity: 1;
}

/* Hotline */

.suntory-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    width: 120px;
    z-index: 200000 !important;
}

.suntory-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 100%;
    height: 100px;
    left: 0px;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 100px;
}

.suntory-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 70px;
    left: 15px;
    position: absolute;
    top: 15px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}

.suntory-alo-ph-img-circle {
    border: 2px solid transparent;
    border-radius: 100%;
    height: 50px;
    left: 25px;
    opacity: 0.7;
    position: absolute;
    top: 25px;
    transform-origin: 50% 50% 0;
    width: 50px;
    text-align: center;
}

.suntory-alo-phone.suntory-alo-hover,
.suntory-alo-phone:hover {
    opacity: 1;
}

.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle,
.suntory-alo-phone:hover .suntory-alo-ph-circle {
    border-color: #00aff2;
    opacity: 0.5;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
    border-color: #EB278D;
    opacity: 1;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
    border-color: #bfebfc;
    opacity: 1;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill,
.suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
    background-color: #EB278D;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle,
.suntory-alo-phone:hover .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
    background-color: #EB278D;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}

@keyframes suntory-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes suntory-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes suntory-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}

.suntory-alo-ph-img-circle i {
    animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
}

@keyframes suntory-alo-ring-ring {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}